<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<hr>
<%= link_to "Edit post", edit_post_path(@post), :class => 'btn btn-warning' %>
<%= link_to "Delete post", post_path(@post),
            method: :delete,
            data: { confirm: 'Are U sure?' }, :class => 'btn btn-danger' %>

<hr>
<br>
<h3 class="text-center">All Comments</h3><br>
<% @post.comments.each do |comment| %>
<div class="alert alert-light">
  <h5><strong><%=  comment.username %></strong>: <%= comment.body %></h5>
</div>
<% end %>



<hr>
<br>
<h4>Add your Comment</h4>
<%= form_for([@post, @post.comments.build]) do |f| %>
<p>
    Username <br>
    <%= f.text_field(:username, {:class => 'form-control'}) %>
</p>

<p>
    Text <br>
    <%= f.text_area(:body, {:class => 'form-control'}) %>
</p>

<p>
    <%= f.submit("Add your comment", {:class => 'btn btn-success'}) %>
</p>

<% end %>
