<!-- Title -->
<br>
<h1 class="text-center"><%= @post.title %></h1>
<br>

<!-- Body -->

<div class="card" style="width: 80rem;">
    <div class="card-body p-3 mb-2 bg-dark text-white" >

            <p class="text-wrap card-text text-break" style="width: 75rem;"> <%= simple_format(@post.body) %> </p>

    </div>
</div>



<!-- Buttons -->
<hr>
<%= link_to "Edit post", edit_post_path(@post), data: { confirm: 'Вы уверены?' }, class: "btn btn-outline-primary" %>
<%= button_to "Delete post", post_path(@post), method: :delete, data: { confirm: 'Вы уверены?' }, :class => "btn btn-outline-danger" %>

<!-- Comments -->

<hr>
<br>
<h3 class="text-center">All Comments</h3><br>
<% @post.comments.each do |comment| %>
<div class="alert alert-light">
  <h5><strong><%=  comment.username %></strong>: <%= comment.body %></h5>
</div>
<% end %>



<hr>
<br>
<h4>Add your Comment</h4>
<%= form_for([@post, @post.comments.build]) do |f| %>
<p>
    Username <br>
    <%= f.text_field(:username, {:class => 'form-control'}) %>
</p>

<p>
    Text <br>
    <%= f.text_area(:body, {:class => 'form-control'}) %>
</p>

<p>
    <%= f.submit("Add your comment", {:class => 'btn btn-success'}) %>
</p>

<% end %>
